<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!--Firebase-->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" ng-controller="ListCtrl">
    <ion-header-bar class="top bar bar-header bar-positive">
      <h1 class="title">Contacts</h1>
 
      <button class="button button-icon icon ion-ios-minus-outline" ng-click="shouldShowDelete = !shouldShowDelete" style="float:right;"
      ng-show="ContactSelectionne == null"></button>

      <button class="button button-icon ion-compose" ng-click="modifierContact($index)" ng-show="ContactSelectionne != null"></button>

      </ion-header-bar>
      
      <p></p><br>
      
              <!-- search bar -->
    <ion class="list list-inset" ng-show="ContactSelectionne == null">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="filtre.$"></input>
      </label>
    </ion>

      <p></p><br>
      
      <!-- liste des contacts -->
        <ion-content class="scroll-content ionic-scroll overflow-scroll" ng-show="ContactSelectionne == null">
          <div class="scroll">
            <ion-list show-delete="shouldShowDelete">
          
          <div class="list list-left-editing">
            <ion-item collection-repeat="contact in contacts| filter:filtre | orderBy:'Nom'" 
            class="item item-complex item-right-editable item-left-editable" ng-class="{purchased: contact.status == 'purchased'}" 
            ng-click="selectionContact(contact)">
              <ul>
                  <li>{{contact.Nom}} {{contact.Prenom}}</li>
              </ul>
              
             <!-- Button edit Todo-->
            <ion-option-button class="button-positive"
                             ng-click="editer(toDo)">
            Editer
          </ion-option-button>

              <!-- Button del Todo -->
              <ion-delete-button class="ion-minus-circled" ng-click="delete(contact)"></ion-delete-button>   
            </ion-item>
          </div>
          
          </ion-list>
        </div>
        </ion-content>
        
      
            
         <!-- J'ajoute une méthode qui affiche le contenu dès que l'article est selectionner -->
            <div class="list list-inset" ng-show="ContactSelectionne != null" >
            <!-- Je répete la liste des articles à afficher -->
            <div class="container">   

                  <label class="item item-input item-stacked-label">
                    <i class="icon ion-android-person"></i> 
                    <span class="input-label" ng-click="modifierContact(contact)">Nom</span>
                    <input type="text" placeholder="{{ContactSelectionne.Nom}}" >
                  </label>
                  <label class="item item-input item-stacked-label">
                     <i class="icon ion-android-person"></i>
                    <span class="input-label">Prénom</span>
                    <input type="text" placeholder="{{ContactSelectionne.Prenom}}">
                  </label>
                  <label class="item item-input item-stacked-label">
                     <i class="icon ion-ios-telephone"></i>
                    <span class="input-label">Téléphone</span>
                    <input type="text" placeholder="{{ContactSelectionne.Telephone}}">
                  </label>
                  <label class="item item-input item-stacked-label">
                     <i class="icon ion-at"></i>
                    <span class="input-label">Email</span>
                    <a href="mailto:{{ContactSelectionne.Email}}">
                    <input type="text" placeholder="{{ContactSelectionne.Email}}">
                  </a>
                  </label>
                    
            </div>
            </div>
      
            <!-- Footer -->
      <div class="tabs tabs-icon-top">
        <a class="tab-item" href="index.html"> 
        <i class="icon ion-home"></i>
        Accueil
        </a>

      <a class="tab-item" href="addcontact.html">
      <i class="icon ion-person-add"></i>
      Nouveau contact
      </a>

      <a class="tab-item" href="#">
      <i class="icon ion-loop"></i>
      Synchroniser
      </a>

      <a class="tab-item" href="#">
      <i class="icon ion-android-favorite"></i>
      Favoris
      </a>

                            
      </div>
  </body>
</html>
