<!-- Menu -->
<div class="list card">
  <a href="#/contacts" class="item item-icon-left">
    <i class="icon ion-android-contacts"></i>
    Liste des contacts
  </a>
  <a href="tache.html" class="item item-icon-left">
    <i class="icon ion-clipboard"></i>
    Entrer une t&#xE2;che
  </a>
  
  <a href="addcontact.html" class="item item-icon-left">
    <i class="icon ion-person-add"></i>
    Ajouter un contact
  </a>
  <a href="#" class="item item-icon-left">
    <i class="icon ion-card"></i>
    Scanner une carte
  </a>
</div>