<ion-view view-title="Liste des contacts">


<!-- liste des contacts -->
<ion-content>
<div class="scroll">
  <ion-list show-delete="shouldShowDelete">
  
  <div class="list list-left-editing">
    <ion-item collection-repeat="contact in contacts| filter:filtre | orderBy:'Nom'"
    class="item item-complex item-right-editable item-left-editable">
    <ul>
      <li><a href="#/contact/{{contact.$id}}">{{contact.Nom}} {{contact.Prenom}}</a></li>
    </ul>
    
    <!-- Button edit Todo-->
    <ion-option-button class="button-assertive"
    ng-click="deleteContact(contact)">
    Supprimer
    </ion-option-button>
    
    <!-- Button del Todo -->
    <ion-delete-button class="ion-minus-circled" ng-click="delete(contact)"></ion-delete-button>
    </ion-item>
  </div>
  
  </ion-list>
</div>
</ion-content>

</ion-view>




<!-- Footer -->
<div class="tabs tabs-icon-top">
  <a class="tab-item" href="index.html">
    <i class="icon ion-home"></i>
    Accueil
  </a>
  <a class="tab-item" href="addcontact.html">
    <i class="icon ion-person-add"></i>
    Nouveau contact
  </a>
  <a class="tab-item" href="#">
    <i class="icon ion-loop"></i>
    Synchroniser
  </a>
  <a class="tab-item" href="#">
    <i class="icon ion-android-favorite"></i>
    Favoris
  </a>
  
</div>