<!-- liste des contacts -->
<ion-content class="scroll-content ionic-scroll overflow-scroll" ng-show="ContactSelectionne == null">
<div class="scroll">
  <ion-list show-delete="shouldShowDelete">
  
  <div class="list list-left-editing">
    <ion-item collection-repeat="contact in contacts| filter:filtre | orderBy:'Nom'"
    class="item item-complex item-right-editable item-left-editable" ng-class="{purchased: contact.status == 'purchased'}"
    ng-click="selectionContact(contact)">
    <ul>
      <li>{{contact.Nom}} {{contact.Prenom}}</li>
    </ul>
    
    <!-- Button edit Todo-->
    <ion-option-button class="button-positive"
    ng-click="editer(toDo)">
    Editer
    </ion-option-button>
    <!-- Button del Todo -->
    <ion-delete-button class="ion-minus-circled" ng-click="delete(contact)"></ion-delete-button>
    </ion-item>
  </div>
  
  </ion-list>
</div>
</ion-content>



<!-- J'ajoute une méthode qui affiche le contenu dès que l'article est selectionner -->
<div class="list list-inset" ng-show="ContactSelectionne != null" >
  <!-- Je répete la liste des articles à afficher -->
  <div class="container">
    <label class="item item-input item-stacked-label">
      <i class="icon ion-android-person"></i>
      <span class="input-label" ng-click="modifierContact(contact)">Nom</span>
      <input type="text" placeholder="{{ContactSelectionne.Nom}}" >
    </label>
    <label class="item item-input item-stacked-label">
      <i class="icon ion-android-person"></i>
      <span class="input-label">Prénom</span>
      <input type="text" placeholder="{{ContactSelectionne.Prenom}}">
    </label>
    <label class="item item-input item-stacked-label">
      <i class="icon ion-ios-telephone"></i>
      <span class="input-label">Téléphone</span>
      <input type="text" placeholder="{{ContactSelectionne.Telephone}}">
    </label>
    <label class="item item-input item-stacked-label">
      <i class="icon ion-at"></i>
      <span class="input-label">Email</span>
      <a href="mailto:{{ContactSelectionne.Email}}">
        <input type="text" placeholder="{{ContactSelectionne.Email}}">
      </a>
    </label>
    
  </div>
</div>

<!-- Footer -->
<div class="tabs tabs-icon-top">
  <a class="tab-item" href="index.html">
    <i class="icon ion-home"></i>
    Accueil
  </a>
  <a class="tab-item" href="addcontact.html">
    <i class="icon ion-person-add"></i>
    Nouveau contact
  </a>
  <a class="tab-item" href="#">
    <i class="icon ion-loop"></i>
    Synchroniser
  </a>
  <a class="tab-item" href="#">
    <i class="icon ion-android-favorite"></i>
    Favoris
  </a>
  
</div>