<ion-view view-title="Détail du contact">
    <ion-nav-buttons side="secondary">
      <button class="button" ng-click="EditerContact(ContactSelectionne)" ng-if="modeLecture">
        Editer
      </button>
      <button class="button" ng-click="sauverContact(ContactSelectionne)" ng-if="!modeLecture">
        Sauver
      </button>
    </ion-nav-buttons>
<ion-content>

<!-- Contenu du contact-->
<div class="list list-inset" ng-show="contactSelectionne != null" >
  <!-- Je répete la liste des articles à afficher -->
  <div class="container">
    <label class="item item-input item-stacked-label">
      <i class="icon ion-android-person"></i>
      <span class="input-label" ng-click="modifierContact(contact)">Nom</span>
      <input type="text" placeholder="Saissisez un nom" ng-model="contactSelectionne.Nom" ng-readonly="modeLecture">
    </label>

    <label class="item item-input item-stacked-label">
      <i class="icon ion-android-person"></i>
      <span class="input-label">Prénom</span>
      <input type="text" placeholder="{{contactSelectionne.Prenom}}">
    </label>

    <label class="item item-input item-stacked-label">
      <i class="icon ion-ios-telephone"></i>
      <span class="input-label">Téléphone</span>
      <input type="text" placeholder="{{contactSelectionne.Telephone}}">
    </label>

    <label class="item item-input item-stacked-label">
      <i class="icon ion-at"></i>
      <span class="input-label">Email</span>
      <a href="mailto:{{contactSelectionne.Email}}">
        <input type="text" placeholder="{{contactSelectionne.Email}}">
      </a>
    </label>
    
  </div>
</div>

</ion-content>
</ion-view>